language: node_js
sudo: false

env:
  - SENECA_VER=senecajs/seneca

node_js:
  - "11"
  - "10"
  - "8"

services:
  - memcached
  - redis-server

before_script:
  - npm uninstall seneca
  - npm install $SENECA_VER

after_script:
  - npm run coveralls

